*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
    font-family: 'arial';
}

.header-inner-content{
    max-width: 1300;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: #000000;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    margin-left: 2%;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    position: relative;
    width: 35px;
    cursor: pointer;
    right: -70px;
}

.nav-icon-container2 img{
    position: relative;
    right: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

nav ul li{
    color: #ffffff;
    margin-right: 5.0rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.search-container{
    margin-left: 1.0rem;
    position: center;
    width: 300px;
    display: flex;
}

input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #000000;
      transition: 0.35s ease;
      color: #000000;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
.search-icon{
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 33px;
    opacity: 20%;
}

.menu-button{
    display: none;
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-bottom-side-right img{
    background-image: url(styles/images/mulheres.png);
    width: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

  .header-bottom-side-right h2{
    font-family: 'Arial';
    position: absolute;
    align-items: center;
    top: 200px;
    font-size: 40px;
    color: #000000;
  }

  .header-bottom-side-right h3{
    font-family: 'Arial';
    position: absolute;
    font-size: 20px;
    color: #000000;
  }

  .header-bottom-side-right button{
    border: none;
    cursor: pointer;
    border-radius: 500px;
    background-color: #000000;
    padding: 0.8rem 3.8rem;
    align-items: center;
    color: #ffffff;
    box-shadow: 0px 10px 10px #2c2c2c;
}
